@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <style>
        li{
            list-style:none;  
            margin-right:10px;
        }
        .cl{
            color:white;
        }
    </style>

<ul class="d-flex justify-content-end align-items-center">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark font-weight-bold" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-danger text-light">Logout</button>
        </form>
    </li>
}
else
{
   
  <li class="nav-item">
        <a class="nav-link text-light btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-light btn btn-warning" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
   
  
}
</ul>
